[2017-06-27 17:36] david-szabo97 opened #1 "Better looking manager"
This is what I had in mind. 3 cards per row, each card representing a user. Delete button is missing though.

https://codepen.io/anon/pen/dRZqdX

[2017-06-27 17:37] david-szabo97 opened #2 "Add delete button"
This should be done in conjunction with #1

[2017-06-27 17:39] david-szabo97 opened #3 "Add translation compatibility"

[2017-06-27 17:39] #3 closed

[2017-06-30 09:40] david-szabo97 commented on #1
I will push the new release on July 3rd or July 5th. I have been busy.

On Tue, 27 Jun 2017, 19:36 Dávid Szabó, <notifications@github.com> wrote:

[2017-07-03 19:16] david-szabo97 commented on #1
Fixed via https://github.com/david-szabo97/grav-plugin-admin-addon-user-manager/commit/ac03b995df36d9f45a166d457e695d86e2fa672d

[2017-07-03 19:16] #1 closed

[2017-07-03 19:16] david-szabo97 commented on #2
Fixed via https://github.com/david-szabo97/grav-plugin-admin-addon-user-manager/commit/df3becfd05eeea6904edbb486d496f99da9271d4

[2017-07-03 19:16] #2 closed

[2017-07-05 03:44] camigolden opened #4 "Issue installing with PHP Version"
Hi!
I'm having the following issue when i install the plugin in a server with php 5.5.38 it gives me an error in line 13 of the file admin-addon-user-manager.php
the line it's the following  const CONFIG_KEY = 'plugins.' . self::SLUG;
and i don't know how to fix it when i install it in my local server it doesn't have a problem the version there it's much higher 7.11 but is there a way to fix it fo

[2017-07-05 15:47] Wojtziech commented on #4
[Expression at definition of constant requires PHP 5.6](https://wiki.php.net/rfc/const_scalar_exprs), while [minimum version for Grav is 5.5.9](https://learn.getgrav.org/basics/requirements).

After changing this line to:
`const CONFIG_KEY = 'plugins.admin-addon-user-manager';`
everything seems to work properly.

[2017-07-06 12:00] #4 closed

[2017-07-09 23:50] camigolden commented on #4
Thank you! i will try it 👍

[2017-07-18 18:08] enzimage opened #5 "List users in list style"
I've created a Grav website with over 500 users. An option to see a list of users with their email/names/usernames would be easier to manage.
Still, a very useful plugin!

[2017-07-19 05:26] david-szabo97 commented on #5
Woah, that's definitely a lot of users! I will make some changes to make
sure it is usable with lots of user too. Like pagination, search feature
and list view.

On Tue, 18 Jul 2017, 20:08 enzimage, <notifications@github.com> wrote:

[2017-07-19 05:38] enzimage commented on #5
Great David, thanks for responding so quickly.
Indeed we have a lot of users accessing our content. We had another website with more than 4000 users. Both were WordPress websites.
The largest one we terminated and this (which is more important to us) we migrated to Grav.

[2017-07-19 13:57] david-szabo97 commented on #5
Just pushed v1.2.0

I have added pagination and list style. Please give it a check and let me know if you find any bugs or you have any ideas to improve it!

Pagination is still work in progress, I will make it a bit more user friendly, like next ,previous and show less pages.

I am not sure about the performance, I will definitely look into caching.

Thank you :smile:

[2017-07-20 06:51] enzimage commented on #5
Hi David, Sorry for the delay.
I installed the update and immediately got this:
`Server Error
Sorry, something went terribly wrong!
E_WARNING - array_slice() expects parameter 1 to be array, null given
For further details please review your logs/ folder, or enable displaying of errors in your system configuration.`

[2017-07-20 08:45] david-szabo97 commented on #5
Oops, sorry about that :smile:

Pushed v1.3.2 to fix it

[2017-07-20 10:35] david-szabo97 opened #6 "Groups management"
- [x] List groups
- [x] Add groups
- [x] Remove groups
- [x] Add users to groups
- [x] Remove users from groups
- [x] List users in groups

[2017-07-20 10:36] enzimage commented on #5
Looking good!
I already found out that grav didn't recognize some of the emails on the accounts when I imported them, so I need to do some work on that. Wouldn't have figured it out without your plugin.

![image](https://user-images.githubusercontent.com/30270303/28413412-af8d0444-6d47-11e7-821f-1d2881d50c05.png)

[2017-07-20 10:39] david-szabo97 opened #7 "Filter and Search"
Filter

- [x] by groups
- [x] by access level

Search

- [x] by username
- [x] by full name
- [x] by email

[2017-07-20 10:40] david-szabo97 opened #8 "Configurable view"
Make grid/list view configurable so admins can decide which fields to show.

[2017-07-20 12:42] david-szabo97 commented on #5
Great!

I'll close this issue, I have opened a few other feature issues. Give 'em a check if you have some free time and let me know if you have any ideas to improve the plugin!

Thank you!

[2017-07-20 12:42] #5 closed

[2017-07-20 12:49] enzimage commented on #7
Hi David
I would add "access level" as well (So one can find everyone who has "site.login" or filter out anyone who is an admin)

[2017-07-20 12:52] enzimage commented on #6
This is useful.
I think this would be useful if it worked together with filters.
Ex: filter everyone who is not a admin, add everyone to the "free access" group.

[2017-07-24 20:13] RJALPHAdog opened #9 "User Manager doesn't work when adminstyles is enabled"
I've pasted the exception thrown when I try to open the user manager, while admin style, stark contrast, is enabled.

[code]

[2017-07-24 20:54] #9 closed

[2017-07-24 20:55] david-szabo97 commented on #9
Thank you!
I pushed a hotfix v1.3.4 to make it compatible with admin styles plugin.

[2017-07-24 21:22] RJALPHAdog commented on #9
wow, really fast work, thank you :) it works

[2017-07-27 22:18] david-szabo97 opened #10 "Bulk actions"
Users
- [x] Delete
- [x] Add to group
- [x] Remove from group

Groups
- [x] Delete

[2017-07-27 22:45] david-szabo97 commented on #7
Implemented in v1.5.0

[2017-07-27 22:45] #7 closed

[2017-07-27 22:46] david-szabo97 commented on #6
Implemented in v1.5.0

@enzimage
Such feature will be added in the next version. Follow up issue: #10 (Bulk Actions)

[2017-07-27 22:46] #6 closed

[2017-07-28 06:48] awrog opened #11 "Display name of plugin"
During installation of the admin-addon-user-manager plugin a faulty name is displayed
Installed a fresh copy of Grav
Add a new plugin
Choose admin-addon-user-manager
During installation a number is shown instead of the name of the plugin
![2017-07-28 08_44_19-plugins _ big picture](https://user-images.githubusercontent.com/12153667/28705752-84bbb9e2-7371-11e7-8061-139a13ba980d.png)

[2017-07-28 06:51] awrog opened #12 "syntax error, unexpected '::' (T_PAAMAYIM_NEKUDOTAYIM)"
Fresh install Grav
Installed the admin-addon-user-manager plugin
Immediately an error is displayed:
syntax error, unexpected '::' (T_PAAMAYIM_NEKUDOTAYIM)

![2017-07-28 08_44_42-crikey there was an error](https://user-images.githubusercontent.com/12153667/28705833-dc3a602e-7371-11e7-9fc2-e1316a1a79e2.png)

[2017-07-28 09:28] david-szabo97 commented on #12
@awrog
I think you are running it via old PHP. I pushed a release to increase compatibility.

[2017-07-28 09:30] david-szabo97 commented on #11
@awrog
I can't reproduce the issue.

![image](https://user-images.githubusercontent.com/2256104/28711505-1199cb72-7388-11e7-8f28-726499c9642d.png)

[2017-07-28 10:53] awrog commented on #12
For your information, I'm using PHP version 5.6.31

[2017-07-28 12:58] david-szabo97 commented on #12
Yeah, the error popped up when I tried to lint it via 5.6. Thank you, the
new releases are now compatible with it.

On Fri, 28 Jul 2017, 12:53 awrog, <notifications@github.com> wrote:

[2017-07-31 11:27] david-szabo97 commented on #12
@awrog
Hopefully your issue is resolved. Please comment if it is still relevant and I'll reopen the issue.
Thank you!

[2017-07-31 11:27] #12 closed

[2017-07-31 22:49] #11 closed

[2017-07-31 22:50] david-szabo97 commented on #10
Feature is implemented by v1.6.0

[2017-07-31 22:50] #10 closed

[2017-07-31 22:51] david-szabo97 opened #13 "Add items per page input rather than using plugin configuration"

[2017-08-04 08:05] geogeorgejoseph opened #14 "How to add more permissions to each user"
How to add permission to user to access some pages based on the content types.

[2017-08-04 19:47] david-szabo97 commented on #14
Can you give me an example?
It seems like something that is unrelated to this plugin.

Though bulk granting and revoking of access levels are good ideas. Will open an feature request for that.

[2017-08-04 19:48] david-szabo97 opened #15 "Bulk grant and revoke permissions"
- [x] Grant permissions
- [x] Revoke permissions

[2017-08-05 23:24] Moonlight63 opened #16 "Cant add a user to a group from the group manager."
![user manager](https://user-images.githubusercontent.com/7518189/28999409-44344544-79fa-11e7-9db9-03486df7cbf5.PNG)

For some reason, is_empty() is not a function.  Probably needs to be changed to something like if(!$u['groups'].length) {}

EDIT: I was wrong. It was when removing a user from the group. And is_empty just needs to be replaced with empty. no is_

[2017-08-06 07:14] david-szabo97 commented on #16
Thank you!! (PR: https://github.com/david-szabo97/grav-plugin-admin-addon-user-manager/pull/17)
Fixed in v1.6.1 (https://github.com/david-szabo97/grav-plugin-admin-addon-user-manager/commit/58122719ed2f601b44b74a1e3322e589037628ef)

[2017-08-06 07:14] #16 closed

[2017-08-07 06:02] geogeorgejoseph commented on #14
I need to add permission to some other users based on page type.

 i have 3 content/page types  -" blogs , courses , contact " and  3 users  "user1,user2,user3"

I need to add permission to above given users based on page type. for example
blogs only add/edit by user1
courses only add/edit by user2
contact only add/edit by user3

[2017-08-08 05:10] david-szabo97 commented on #14
You can use the filter to filter out the users you need then select all of them then use bulk actions.

Pushed v1.7 which adds bulk permissions actions.

[2017-08-08 05:12] david-szabo97 commented on #15
Implemented via v1.7.0 https://github.com/david-szabo97/grav-plugin-admin-addon-user-manager/commit/93286608b91738b91df429e455be5dee53585b24

[2017-08-08 05:13] #15 closed

[2017-08-08 06:29] geogeorgejoseph commented on #14
But in that bulk action there is no option to select page types. Some error is occurring after the bulk option process.

to reproduce that issue select user > click bulk option > select admin.pages as permission > click on "Add selected permissions to selected" after this process click on user-name
![admin-issues](https://user-images.githubusercontent.com/25584016/29058987-089f876c-7c31-11e7-87ce-

[2017-08-08 08:41] david-szabo97 commented on #14
It is not a built-in feature of Grav. You need to play with permissions to achieve what you want.
This guide shows you how to create private pages restricted to specific permissions.
https://learn.getgrav.org/cookbook/general-recipes#create-a-private-area

I just pushed v1.7.1 which changes the permissions input so now you can add custom permissions too.

About the issue, I can't reproduce it and

[2017-08-11 06:00] #14 closed

[2017-08-14 11:05] enzimage opened #18 "Add more permission options (or custom options)"
Hi David
All the permissions listed (for users and for the group) are admin related.
Since I use grav to host content for paying users, I need to add for instance: **site.login**
This permission appears after I set it on the YAML file, but not before.

[2017-08-14 11:05] enzimage commented on #18
By the way, your plugin is looking great!

[2017-08-14 11:10] enzimage opened #19 "Advanced option to edit the user's YAML file"
When you're editing a content (eg: blog.md) file on the admin interface, you can choose "Advanced" to edit the full content of the .md file (frontmatter + markdown text). This is very useful because the admin interface doesn't have all the options for the front matter available, so you can add whatever you want there.
Something similar for the users and groups would be great for the same reason, b

[2017-08-14 18:40] david-szabo97 commented on #18
Unfortunately some permissions are not registered by plugins. `site.login` is one of the permissions which is unavailable through permission selector. Though I think this is out of the scope of the plugin, I'll add an option to add custom permissions.

Thank you!

[2017-08-14 18:40] david-szabo97 commented on #19
Good idea!
I'll look into it!

Thank you!

[2017-08-14 21:02] david-szabo97 commented on #18
Please check v1.8.0, if it satifies your request then close the issue.
Thank you!

[2017-08-14 21:02] david-szabo97 commented on #19
Please check v1.8.0, if it satifies your request then close the issue.
Thank you!

[2017-08-15 08:49] enzimage commented on #19
I updated the plugin but didn't see any change.

[2017-08-15 08:51] enzimage commented on #18
I don't see any change.
I have the plugin on version v1.8.0

[2017-08-15 09:01] david-szabo97 commented on #18
You can add custom permission at the plugin`s configuration page.

On Tue, 15 Aug 2017, 10:51 enzimage, <notifications@github.com> wrote:

[2017-08-15 09:01] david-szabo97 commented on #19
In the user list there is a new button: expert

On Tue, 15 Aug 2017, 10:49 enzimage, <notifications@github.com> wrote:

[2017-08-15 09:52] enzimage commented on #19
Perfect! That does help a lot!

[2017-08-15 09:54] enzimage commented on #18
Awesome! That helps a lot.
Thanks David. You're really dedicated to this project.

[2017-08-15 09:54] #18 closed

[2017-08-15 09:54] #19 closed

[2017-08-23 18:32] jakesullyneytiri opened #20 "login issue"
Hi,

I have a problem when i add a user then when my friend did some changes to other plugins and cleared the cache data, thats when it kicked me out of grav and told me "Invalid Security Token" on safari browser while on chrome it told me "Invalid Login" so i noticed my account password got corrupted since i logged into my friends account and changed it and that fixed login but! Safari is still t

[2017-08-24 15:30] david-szabo97 commented on #20
Hi there,

The "creating a new user" part is not related to the plugin. The plugin just redirects you to the built-in page.

https://github.com/david-szabo97/grav-plugin-admin-addon-user-manager/blob/master/templates/user-manager.html.twig#L132

[2017-09-15 12:30] boettges opened #21 "Plugin allows creation of usernames containing characters that are not allowed in system.yaml"
Hello,
I found that by default system.yaml disallows the usage of the "." (dot) character in admin-usernames during the initial setup of Grav.

This is due to:
`username_regex: '^[a-z0-9_-]{3,16}$'`
in grav/system/config/system.yaml

However, if a user is subsequently created with the user manager addon usernames that contain the dot-character will be created without any issue.

If the user manage

[2017-09-15 15:42] david-szabo97 commented on #21
Hi there,

That regex is only used at the initial admin user creation. Grav admin
doesn't use it anywhere else. So I think this should be fixed on Grav Admin
side rather than in this plugin.

I will take a deeper look at it next week. (I am not home this weekend)

On Fri, 15 Sep 2017, 14:31 Peter Böttges <notifications@github.com> wrote:

[2017-09-15 17:23] boettges commented on #21
No worries 👌
Just stumbled upon this issue.

If I should suggest something, I would let this user manager plugin hook into the same check as the admin user.

I tried to create users, called "test/test", "test%test" and "test$test" and ran into all kinds of issues.

I already sent a pull request to the main branch of grav to include the dot-character into the regex-check for admin-users, as I exper

[2017-09-18 12:49] david-szabo97 commented on #20
Closed due to inactivity, please reopen it if it is still relevant.

[2017-09-18 12:49] #20 closed

[2017-09-18 12:50] david-szabo97 commented on #21
Implemented in https://github.com/david-szabo97/grav-plugin-admin-addon-user-manager/commit/4e7aae1c3f78fb9503c7f9027184ab63665bf94b

Thank you!

[2017-09-19 13:34] awrog opened #22 "Confusing UI"
Fields and values are not very well located on screen.

![screenshot - 9_19_2017 3_29_58 pm](https://user-images.githubusercontent.com/12153667/30594914-ebe8a8f2-9d4f-11e7-9d15-e8558658b5c8.png)

[2017-09-19 16:34] david-szabo97 commented on #22
Hi there!

Is this the group form? I can't seem to reproduce this.

![image](https://user-images.githubusercontent.com/2256104/30603844-26d889dc-9d69-11e7-9268-8f35b3fab802.png)

[2017-09-20 12:22] awrog commented on #22
David,

Thanks for your reply.
Oddly, all is fine now.... Changing the zoomfactor also has no impact.
I'll close the ticket.

[2017-09-22 08:22] awrog commented on #22
Hi David, I have found the offending screen: it occurs in the user manager
![screenshot - 9_22_2017 10_19_50 am](https://user-images.githubusercontent.com/12153667/30735557-c0db80b2-9f7f-11e7-801c-60f397d06ce6.png)

[2017-09-22 09:02] david-szabo97 commented on #22
The user form is built into the Grav Admin Plugin, so it is unrelated to
this plugin.

On Fri, 22 Sep 2017, 10:22 awrog <notifications@github.com> wrote:

[2017-10-05 10:36] #21 closed

[2017-11-17 11:57] rogerhutchings opened #23 "Need admin.super to edit group membership"
I've created a user group called 'Admins', who I want to be able to create and manage other users. It has the following permissions set to true:

[code]

They can create new users, but they can't then add them to any groups. When trying, they get the error message `You have insufficient permissions for task save.` Setting `admin.super` will allow this, but that isn't ideal. Is there an additional

[2017-11-17 13:23] david-szabo97 commented on #23
The user editor is part of the **Admin** plugin, currently there is no permission which allows you to change the permissions of an user other than the `admin.super`.
I will look into the internals to find a way to make this happen.

[2017-11-17 13:33] #22 closed

[2017-11-17 13:38] rogerhutchings commented on #23
Got it. I really appreciate you having a look 👍

[2017-11-24 15:20] PeterEmil opened #24 "granular control"
When activating the plugin for a user, this user gets too much control. This user can delete a super admin, which is not wanted behavior.

[2017-12-02 17:15] david-szabo97 commented on #24
Do you have any idea how we could overcome this?
Any good system that we could implement to handle such cases.

I was thinking about giving a 'power' or 'level' or call it whatever to each group. And a user can only edit users with lower power. It's a naive solution but better than nothing.

We need to come up a good system which can handle most of the use cases. If you have any idea then share it

[2017-12-02 17:42] david-szabo97 commented on #23
Fixed in v1.9.0 (https://github.com/david-szabo97/grav-plugin-admin-addon-user-manager/commit/f3edba2609ced7bbd825a348f0e9c1a0a426f01d)

[2017-12-12 08:17] pr0ma opened #25 "Change avatar problem"
After update Admin Panel plugin Admin Addon User Manager not work normal.
Try change avatar - result error "Data type 'user-manager/test' doesn't exist!"
![2017-12-08 10 57 48](https://user-images.githubusercontent.com/34234320/33873933-93df1f98-df25-11e7-916b-84ee67812ecb.png)

[2017-12-18 16:53] SethG911 commented on #25
Getting the same issue here.

[2017-12-18 17:09] david-szabo97 commented on #25
Thanks for reporting, I will take care of it this week.

On Mon, 18 Dec 2017, 17:53 Seth Geib, <notifications@github.com> wrote:

[2017-12-29 10:00] Marcool04 opened #26 "Memory leak when using non-ascii character (?) to create group"
Hi there. This is a cross-post after a short discussion on the grav core github issue tracker. It seems the issue may have been related to something in grav core but apparently the plugin is now the likely culprit.

First a bit of context:
[code]
I was trying to create a new group in a fresh Grav installation, using the name "Utilisateur enregistré". First the page just went blank, and I noticed t

[2017-12-29 10:04] #23 closed

[2017-12-29 11:23] #26 closed

[2017-12-29 11:23] david-szabo97 commented on #26
Thank you for reporting. It is fixed now.

[2017-12-29 13:23] Marcool04 commented on #26
Wow that was fast :) I'll give it a try later on and let you know how it goes.

[2017-12-29 17:25] Marcool04 commented on #26
Awesome, confirmed working after update to v1.9.1
Thanks a bunch for the lightning fast reaction and solution.

[2017-12-29 17:41] #25 closed

[2017-12-29 17:42] david-szabo97 commented on #25
Fixed in v2.0.0

[2017-12-29 19:29] rogerhutchings commented on #23
Awesome, thank you @david-szabo97

[2018-01-01 20:23] sigillum-rasa opened #27 "Admin Links Stop Working"
Greetings, I really love this plugin. However, when viewing a user profile, all buttons and links stop working. By that I mean, you cannot get out of the page. Back or Save doesn't work, and none of the links in the admin menu to the left work either. The only way to get off the page is to change the URL manually in the address bar.

I did manage to create a new user, but it was after that the iss

[2018-01-01 21:58] #27 closed

[2018-01-01 22:00] david-szabo97 commented on #27
Hi Umby!

Thank you for reporting the issue! Once I had this issue but I thought it disappeared. Now I was able to reproduce it and fix it! (v2.0.1) (3789b2ba320864c76f5dcc9511855ebb7f096908)

David

[2018-02-07 13:17] tecart-crm opened #28 "wrong routing - user delete button"
Hi,
nice Plugin! =)
After deleting an user, I get a 404 page at "mysite.demo/user-manager". The correct url shoud be "mysite.demo/admin/user-manager"
How long will it take to fix it?
Thanks!

[2018-02-07 19:31] david-szabo97 commented on #28
Thank you for reporting the issue!

Fixed via https://github.com/david-szabo97/grav-plugin-admin-addon-user-manager/commit/1bd9704d5f13025a1254a989387825142df5019c

(Messed up commit message issue linking)

[2018-02-07 19:31] #28 closed

[2018-02-08 12:42] 07pepa opened #29 "Untranslated strings"
it is not posible to  change language anyhow !

[2018-02-08 12:54] david-szabo97 commented on #29
The language is determined by Grav Admin not by the plugin itself.
Please give me more details.

[2018-02-08 12:56] 07pepa commented on #29
i added cs.yaml  to languages to your plugin and czech language is selected in grav admin

[2018-02-08 12:58] david-szabo97 commented on #29
Please take screenshot or something so I can see where is the issue. It might be a string which is not setup to be translated

[2018-02-08 13:18] 07pepa commented on #29
it is basicly everything  that is not translated
http://prntscr.com/ibvaqg
http://prntscr.com/ibvbtq
cs.yaml in same folder as yours en.yaml look like this

PLUGIN_ADMIN_ADDON_USER_MANAGER:
  GROUP: skupina
  READABLE_NAME: Čitelné jmeno
  ICON: Ikona
  ADD_GROUP: Přidej skupinu
  USERS: Uživatelé
  HELP: Pomoc
  BULK_DELETE_USER: Smaž vybrané uživatele
  BULK_DELETE: Smaž
  BULK_USER_GROUP: Hroma

[2018-02-08 14:00] david-szabo97 commented on #29
Thanks!

I will make sure to include all the untranslated strings in the language file in the next release.

[2018-02-13 01:14] david-szabo97 commented on #29
@07pepa
Hey! Just pushed v2.0.3 which adds missing translation strings.
Hopefully you won't mind in adding the missing ones to your czech translation so I can release the plugin with czech language support 😄

[2018-02-13 20:48] unmick opened #30 "Authorization to remove a theme"
Hello,

Do you know if there is a way to authorize user to setup a theme but not to remove it ?
There is the admin.theme but it gives an important right for an user...

Thanks for your help !

[2018-02-14 10:47] 07pepa commented on #29
there are your  string ... be careful i did not  not know if copiing it here will preserve CR LF on end of rows and null on end of  file 😜

PLUGIN_ADMIN_ADDON_USER_MANAGER:
  USER_MANAGER: Správce uživatelů
  GROUP_MANAGER: Správce skupin
  MANAGE_USERS: Zpráva uživatelů
  MANAGE_GROUPS: Zpráva skupin
  FILTER_ERROR: Chyba filtru
  FILTER_USERS: Filtruj uživatele
  FILTER_GROUPS: Filtruj skupiny

[2018-02-16 18:32] david-szabo97 commented on #30
Hi there! I don't think there is a separate permission to handle those
cases. You may open an issue at grav admin plugin to add that. But I look
into it, maybe we can habdle that via plugin.

On Tue, 13 Feb 2018, 21:48 unmick, <notifications@github.com> wrote:

[2018-02-16 18:34] david-szabo97 commented on #29
Thank you, I'll add it next week!

On Wed, 14 Feb 2018, 11:47 07pepa, <notifications@github.com> wrote:

[2018-02-17 12:59] filisko opened #32 "Ideas: Tabs? Segments for filters?"
Hi,
Would it be better if we create only one page in the admin panel which could be called something like.. Security, Access Control, simply 'Users', or whatever, and place the current pages into tabs?
This way I think that the admin panel will look cleaner?

I think that another interesting thing could be to create something like "segments"  for the filters, which is basically a way to save your

[2018-02-17 13:37] david-szabo97 commented on #32
Hi! I agree with both of your recommendations. I wanted to implement saved
filters but I always skipped it.

I want the filter to be fully customizable, that's why it is not a gui.
Later we might add a gui and make the current filter to be the expert mode.

I will look into these next week and setup them as a separate issue so we
can track them better.

Thank you, have a nice weekend!

On Sat, 17

[2018-02-20 09:26] hemedb opened #33 "Exception raised when using the expert mode."
Hello there,

Got an error "Call to a member function post() on null" at  …/user/plugins/form/form.php:184 when clicking the "save" button modifying a user properties in expert mode.

Steps to reproduce:
- create a user via the users admin plug-in
- back to the list of user
- click expert for the user just created
- change something (I changed the language)
- click save

Environment:
- Linux Mint

[2018-02-20 15:18] filisko commented on #33
Happens the same to me :wink:

[2018-02-20 18:22] david-szabo97 commented on #33
This is an issue with the Form v2.11.4 plugin. Works fine with older versions and this issue seems to be fixed in the new version which should be released soon.

[2018-02-21 07:51] hemedb commented on #33
Ok, thanks. Wait and see then...

[2018-02-21 09:03] hemedb commented on #33
Yes, solved with Form 2.11.5.

[2018-02-21 09:03] #33 closed

[2018-03-07 21:51] AxelRHD opened #34 "Minimum required permissions to add user and groups"
Great plugin. But I have problems to set the right permissions for our head of department, so that he can add/edit users and groups but nothing else (no super user). I gave him permission for the plugin (and admin.users) and tried with his account to create a new user. But I can't save the profile (error action 'save').
What am I missing?

[2018-03-12 11:03] adrianw commented on #22
I've found that this issue happens when on screen of certain widths, for example if in chrome you set to a profile of dimensions 1280x800 the options get staggered, as you mentioned I think it could be an issue with the underlying admin plugin though as I noticed in field.html.twig (around line 55) it's using a class size-2-3 which isn't defined anywhere, did you report this?

[2018-03-14 06:21] david-szabo97 commented on #22
@adrianw I just opened a PR to fix it.

https://github.com/getgrav/grav-plugin-admin/pull/1379

[2018-03-14 06:56] david-szabo97 commented on #34
Fixed in v2.1.0

[2018-03-14 06:56] #34 closed

[2018-03-14 06:56] david-szabo97 commented on #29
Fixed/Added in v2.1.0

[2018-03-14 06:56] #29 closed

[2018-03-14 06:56] david-szabo97 commented on #22
Added temporary fix in v2.1.0

[2018-03-19 11:29] newmedicine opened #35 "/admin/group-manager 404 not found"
Internal "grav" 404 that is.
Grav v1.4.1 - Admin v1.7.1 - addon-user-manager 2.1.0

Also, when I try to edit a user in /admin/user-manager, I get exception `Whoops \ Exception \ ErrorException (E_ERROR)
Maximum function nesting level of '100' reached, aborting!` in  `/home/bacfc/public_html/g/vendor/twig/twig/lib/Twig/Compiler.php` lines:
[code]
If you need any more debug info please say
Nick

[2018-03-19 23:29] david-szabo97 commented on #35
Hi Nick!

I can't reproduce this.

Do you have any other information available which may help?

[2018-03-21 01:49] finanalyst opened #36 "new user not allocated site login"
I have a site in which some pages, but **not all** pages, have the following in the page header
[code]
I create a new user, eg., `candy`, using `grav-plugin-admin-addon-user-manager`. BUT in `candy.yaml` there is no entry
[code]
There are only entries for supervisor mode. This means that `candy` does not have *site login access*.

Consequently, the new user (`candy`) cannot login to the pages that

[2018-03-21 01:56] finanalyst commented on #24
I had a similar problem, and I've just added a new issue.

The problem is that using this user manager plugin, new users are not given *site login access*. That means that only users (created by this plugin) who have *supervisor login access* can actually login. I agree with the initial poster that it is undesirable to give **all** users *supervisor login access*.

The work-around is to use `exper

[2018-03-22 22:49] david-szabo97 commented on #36
Hi Richard!

Actually this is not an issue with the plugin itself. The Admin plugin doesn't expose the site.login permission. That's why it doesn't show up in the list.

You can overcome this by adding it as a custom permission via this plugin.

Here is an example:

![image](https://user-images.githubusercontent.com/2256104/37802620-89c3e340-2e2b-11e8-8156-92094fc78218.png)

I will be honest. I th

[2018-03-22 22:56] david-szabo97 commented on #36
It's released: v2.1.1

[2018-03-24 04:57] finanalyst commented on #36
Hi David!
We met on perl6 topics, Bailador??
I keep thinking it would be nice to do a sort of Perl6 Grav :)

Richard

On Fri, 23 Mar 2018, 07:56 Dávid Szabó, <notifications@github.com> wrote:

[2018-03-29 16:05] david-szabo97 commented on #36
@finanalyst
Hi Richard!

I don't think we have ever met, well not on perl6 topics that's for sure :) I have never worked with Perl :)

Did v2.1.1 fixed your issue? If it did, please close the issue :)

[2018-03-29 16:06] david-szabo97 commented on #35
@newmedicine
Bump, is this still relevant?

[2018-04-01 09:27] Al-Demon opened #38 "Unset user permissions are added to the permissions"
Please I don't know what I'm doing wrong...

I create a group call editor with this permissions:
[code]
And I have a new user:
[code]
_ _ _

And I can't login... only if I configured the user admin login true... but I could do this before without the plugin... I think this plugin is for create group, not for configure each user, right?

Thanks for all

[2018-04-01 20:13] david-szabo97 commented on #36
Closed due to inactivity, reopen if neccessary

[2018-04-01 20:13] #36 closed

[2018-04-01 20:13] david-szabo97 commented on #35
Closed due to inactivity.

[2018-04-01 20:13] #35 closed

[2018-04-01 20:15] david-szabo97 commented on #38
@Al-Demon Sorry, I don't really understand you.

You need to add `admin.login` permission to the group/user to let them login to the admin panel. Otherwise they can't login.

This plugin is a full-blown user and group editor.

[2018-04-01 22:56] tlflow opened #39 "Group access not working properly"
"Force Visible to Groups" and "Force Editable to Groups" works only when "admin.pages" is selected for each individual in the group. Setting admin.pages for the group doesn't seem to be enough.

Also, when setting admin.pages the group now have access to change pages they shouldn't even see. Am I missing something?

[2018-04-02 07:58] Al-Demon commented on #38
Ok, maybe I don't explain myself good... I put on group permission admin login enabled but I think the user who is inside the group don't inherit the permission and I have to configurate again admin login enabled and the rest of permission.

[2018-04-02 13:11] david-szabo97 commented on #38
You are overwriting the admin.login permission in your user file. Please
reinclude your group and user file in a code block.

On Mon, 2 Apr 2018, 09:58 Al-Demon, <notifications@github.com> wrote:

[2018-04-02 16:05] Al-Demon commented on #38
You right! If I change the password from the user manager overwriting user permissions... we need to be aware about this... Very thanks for all

[2018-04-02 17:35] david-szabo97 commented on #38
@Al-Demon
I just checked why this happens and this is actually an unexpected behaviour.
When a specific permission is set to `Unset` it should not add it to the `access` array in the user config.

I will push a hotfix.

Thank you ;)

[2018-04-02 17:49] #38 closed

[2018-04-02 17:49] david-szabo97 commented on #38
Fixed in v2.1.3

[2018-04-02 17:53] david-szabo97 commented on #39
Hi @tlflow  !

Sorry, I never heard about "Force Visible to Groups" and "Force Editable to Groups".

Can you give me the steps to reproduce your issue?

[2018-04-02 20:03] tlflow commented on #39
My apologies. Issue is actually with “Users Page Ownership” which is suppossed to play nice with this one. If I’m not mistaken it’s supposed to add these fields to all pages and then you can manually add the custom group to individual pages and it’s children. I think.

-

Terence

On Apr 2, 2018, 1:53 PM -0400, Dávid Szabó <notifications@github.com>, wrote:

[2018-04-02 20:17] david-szabo97 commented on #39
Seems like that plugin had a similar 'Users' feature. A page to list out all users and allow them to be edited.
I don't know how that plugin works, but my plugin doesn't change anything in the permission system. So that issue may be related to that plugin.

Do you have the same issue without my plugin?

[2018-04-03 02:01] tlflow commented on #39
I think you're right. Your plugin works just fine. It's the other one that's a little off. Thanks for looking into this though.

[2018-04-03 02:01] #39 closed

[2018-04-05 04:33] finanalyst commented on #36
Not reopening. Just adding info. Sorry for the delay - other things to do.
a) The change you made helped. On my site the site.login permission was right at the very end of the list of permissions. Is there a way to put it first?
b) I realised I confused you with Gabor Szabo, who lives in Israel. My bad. Sorry.

[2018-04-05 12:45] david-szabo97 commented on #36
I am not sure if we can do that. But I will look into it.

On Thu, 5 Apr 2018, 06:33 Richard Hainsworth, <notifications@github.com>
wrote:

[2018-04-08 23:43] david-szabo97 commented on #36
@finanalyst Moved the permission to the front.

[2018-04-09 06:39] finanalyst opened #40 "Identifier "admin" is not defined."
After the update to user-manager 2.1.4 , I am getting the subject error.

I deleted `grav-plugin-admin-addon-user-manager` and the error disappeared.

I reinstalled plugin and the error reappeared.

See screenshot for the error message.

![screenshot from 2018-04-09 14-31-50](https://user-images.githubusercontent.com/363676/38482924-bc7148ba-3c03-11e8-95dd-8445f308c955.png)

[2018-04-09 08:20] david-szabo97 commented on #40
Fixed in v2.1.5
Sorry about this. I think that's what you get for trying to quickly to do something.

I wonder why this event is even called on the front-end though.

[2018-04-09 09:16] rvreugde opened #41 "Identifier "admin" is not defined."
Hello,

I just updated the Admin Addon User Manager plugin te version 2.1.4, but when I want to access my pages I get an error: "Identifier "admin" is not defined."!

More info
[code]

Some extra info:
[code]

[2018-04-09 10:53] david-szabo97 commented on #41
Duplicate of #40
Already fixed in 2.1.5

[2018-04-09 11:15] rvreugde commented on #41
When I install or update the plugin, I still get version 2.1.4...

[code]

[2018-04-09 22:10] david-szabo97 commented on #41
![image](https://user-images.githubusercontent.com/2256104/38525699-93554e04-3c53-11e8-8798-0b53eff54a6d.png)

You can always download it from Github and install it manually. Also, it takes some time to get it updated in Grav repo.

[2018-05-02 04:28] Quark11 opened #42 "User "enabled" value set incorrectly, cannot log in with panel-created users."
When a new user is created via the user-manager admin panel, the `state` value in the corresponding account yaml file is surrounded by extra pairs of quotes. For example instead of `state: enabled`, it shows `state: '"enabled"'. This  prevents users created in this way from logging in. If you try logging into that user's account via the "Login as" button, an exception will be thrown.

Manually edi

[2018-05-18 09:29] #41 closed

[2018-05-18 09:29] #30 closed

[2018-05-18 09:35] david-szabo97 commented on #42
I have just updated everything. And I can login with a freshly created user.

This is the generated YAML and it works fine.
[code]

[2018-05-18 09:36] david-szabo97 commented on #42
@Quark11
Can you give it a check and confirm this happens? Or give reproduction steps?

[2018-05-25 23:10] crumblingwalls opened #43 "Error: Template "default.html.twig" is not defined"
This is an issue I first reported in the Grav admin plugin tracker: https://github.com/getgrav/grav-plugin-admin/issues/1450

Issue arises when clicking the »Login as«-button on a user page of the »admin-addon-user-manager«-plugin [v2.1.5]. A message pops up asking me whether I really want to leave the page as there are unsaved changes. I click »continue« and am presented with this error message:

[2018-05-26 06:00] david-szabo97 commented on #43
@crumblingwalls
I can't reproduce this in latest version. Login As button works as expected. No errors.

Grav v1.4.5
Admin Panel  v1.8.2
Admin Addon User Manager  v2.1.5

[2018-05-26 09:00] hleen commented on #43
Had same problem, restore of website was required...
It might have something to do with user groups.

[2018-05-26 10:10] david-szabo97 commented on #43
Are you trying to login as a non-admin user? That might cause problem.

[2018-05-26 11:06] hleen commented on #43
Yes, that is what I tried. Login in the backend. The user was member of a usergroup that did not have all rights in the backend.

[2018-05-26 13:58] fl02 commented on #43
Same for me, sorry for not mentioning it earlier: the user I am trying to login in with is a non-admin user.

[2018-05-26 14:39] david-szabo97 commented on #43
That makes sense. "Login As" is meant only for admins. It tries to redirect you to the admin page so I guess that causes the issue. I may look into this and disable the button when the user is not an admin or site user.

[2018-05-26 14:40] david-szabo97 commented on #43
Also I will redirect non-admins to the home page.

[2018-06-05 23:59] david-szabo97 commented on #42
Closed due to inactivity.

[2018-06-05 23:59] #42 closed

[2018-06-06 00:11] #43 closed

[2018-06-06 23:14] adamschmid commented on #24
Agreed. This plugin is pointless for administrators wishing to give users some control of managing content of a website without allowing them to either:

1. Assign themselves new permissions above the level they already have or 2. delete/modify users with permissions above their level (i.e. _ACTUAL_ admins who would be kicked out of the system by a subordinate user).

There needs to be a check in

[2018-06-06 23:16] david-szabo97 commented on #24
@adamschmid Yes, that's not the purpose of the plugin anyway. And maybe that's not even possible without modifying Grav core.

[2018-06-19 02:59] finanalyst opened #44 "Group config bug?"
I just created a new first group. The groups.yaml file in `user/config` has permission 644, it should be 664. The latter is the standard for all Grav files. The reason is that I tend to set myself as the owner of Grav files, and have the unix group set to www-data so that the Appache/NGINX software can also alter it.

The setup where I noticed this is a Synology NAS. It is a linux based, but propr

[2018-06-19 03:09] finanalyst opened #45 "Setting new passwords to existing users in Admin"
I am having problems when I try to reset the password of a user in the User Admin section.
I set a new user, set the password in the Admin section, but the login does not work. I think that the password is incorrect, so I try to reset the password. But still I cannot log in.

I have tried wiping browser history, clearing all the cache, and some other things, but I cannot get a login to work.

I am

[2018-06-19 03:19] finanalyst opened #46 "Setting group special permission in GUI"
I want to use the option of having a group specify a login permission. So anyone in the group can access a page using existing Login plugin potential.

However, there does not seem to be the option to have 'expert' access to the group's permissions. Compare with 'expert' access to a user's permissions.

For the group, eg. 'operations', I need to be able to set
[code]
So on a protected page that sh

[2018-07-30 11:54] sebastianbaumann commented on #24
So any news on this?
I don't want users, who have access to ` admin-addon-user-manager: users: true` to be able to edit or even delete the admin…

[2018-10-23 11:54] motherdomains commented on #45
Same issue, running Ubuntu 16.04. It doesn't appear that the password is saving. Group permissions aren't saving either - in the name of the group/s I'm in, it says my username instead.

[2018-10-31 21:11] adamschmid commented on #24
@david-szabo97 Would you consider making this plug-in more useful to administrators wishing to grant certain access levels to other Grav admin users for updating content, etc? Use case is something along the lines of how Wordpress handles users. There really isn't anything else from what I've seen that comes close to managing users in Grav. The plugin description itself then seems misleading if th

[2018-10-31 21:13] david-szabo97 commented on #24
@adamschmid We are kinda limited by how Grav Admin and Grav Core works. The purpose of this plugin is to edit your users and groups file via interface.

[2018-11-03 20:22] david-szabo97 commented on #24
@adamschmid Why can't you use the built-in permissions to prevent full admin access for editors? You can do all the permission changes using the interface provided by this plugin.

[2018-11-14 09:52] iqvision commented on #25
Cannot modify avatar.

[2018-11-14 10:13] david-szabo97 commented on #25
@iqvision
Could you give more information please? Maybe a screenshot or video recording about the issue? Console errors? Server log? Anything that would help me?

[2018-11-26 10:35] drnasin opened #48 "Avatar upload doesn't work"
I'm trying to add a new avatar for a user but it doesn't work. After clicking save image is not saved in page folder and is basically non existant. Tried png and jpg. Same result. No error message reported..

[2018-12-06 10:44] zyrx commented on #43
This is actually an issue due to when you perform the action `Login As` with a given user without access to admin panel, `Grav`'s template engine is looking for the file `default.html.twig` in order to display the default plugin page, however there is no `default.html.twig` file in `grav-plugin-admin`'s default template, `grav`.

Not sure if there is a reason for `grav-plugin-admin`'s developers t

[2018-12-06 20:53] bobbwal commented on #45
Similar issue here. If I register a user via the login plugin then make changes to the account via the user manager profile page it's seems the password is changed and the user can no longer login.

[2018-12-06 21:02] bobbwal commented on #45
Yep, can confirm every time the profile is saved the password is changed.

[2018-12-29 07:32] bleutzinn opened #49 "Kind request to change Expert to Edit"
The purpose of the 'Expert' button is to edit the user configuration. So why not have that button show 'Edit' instead of 'Expert'?

[2019-01-03 19:23] david-szabo97 commented on #48
@drnasin Hah, I am clueless. Tried to find the root of the issue but failed...

[2019-01-03 19:28] david-szabo97 commented on #44
@finanalyst I use the Grav internals to do the file handling, so this I am pretty sure this is out of our scope. Are you sure 664 is the default in Grav? I found a lot of 644 references in the source code but not 664.

[2019-01-03 19:31] david-szabo97 commented on #49
@bleutzinn I don't think this would be a good change. You can edit the user by clicking on the username - that's the friendly way. Then we have an expert mode when you click on the expert button.

[2019-01-03 19:33] david-szabo97 commented on #46
@finanalyst That's right, we don't have expert edit for groups but I am pretty sure we don't need it. You can add custom permission in the plugin's config. (Plugins -> Admin Addon User Manager -> Custom Permissions) Add "site.special" there and you are good.

[2019-01-03 19:35] bleutzinn commented on #49
Ah, I see. Sorry, I've never clicked on the user name. I suppose my attention was directly drawn towards the "Actions" column.
Thanks.

[2019-01-03 19:35] #49 closed

[2019-02-17 02:00] chhinsras opened #53 "call_user_func_array error"
I just new to grav, it looks interesting.

When, I install everything working fine. Then, I started to some plugins.

The error call_user_func_array() occured.

Please help me.

![err](https://user-images.githubusercontent.com/31751665/52907334-5a1d6280-3292-11e9-9c37-e6fddda351e9.png)

[2019-03-13 06:36] dimitrilongo opened #54 "Add option to disable or activate user not in expert mode"
in `myuser.yaml` i had `state: disabled` by default, a choice  because i’d like that admin enable them one by one. Of course he can enabled them by editing the yaml in expert mode, i think it would be great to have a toggle button to enable  or disable them

[2019-03-22 14:13] Romarain opened #55 "Call to undefined method Closure::fields()"
Hello,
I'm running **Grav v1.6.0-rc.4 - Admin v1.9.0-rc.4**.
When trying to manage users created before the installation of your plugin, I get an error on those who have an admin privilege (I tried on a user with just site access, and it doesn't bug) :

The lines triggering the error are 154 to 157 of **\system\src\Grav\Common\User\DataUser\User.php**
:
[code]

I think the problem comes from the a

[2019-03-22 16:07] Heraes-git commented on #55
Problem fixed here : https://github.com/getgrav/grav/issues/2422
You can close this issue.

[2019-03-23 01:47] Romarain opened #56 "Impossible to attribute a group to a user without being superadmin"
After 2 hours of testing in every direction, I'm now sure that :

- It is impossible to set a user the power to define other user's level, without being himself a superadmin.
- So the users management is reserved to a superadmin, wich can be a problem if we want to give the users management to the owner of the website, without giving him super-powers.

What I would like is to give the client basic

[2019-03-23 02:07] Heraes-git commented on #24
@david-szabo97 Except that there seems to be a bug, forcing us to give superadmin rights, as I mention it here : https://github.com/david-szabo97/grav-plugin-admin-addon-user-manager/issues/56

[2019-03-23 02:20] Heraes-git commented on #56
I forgot one thing : of course, setting "SUPER" to _ON_ while setting all **sub-rigths to _OFF_** doesn't work !
It could have been a logical approach, but unfortunately, powering _ON_ the "SUPER" switch forces all sub-rules to be implied in the role.

It's not the same for the "ADMIN" or "CONFIG" switch : we can set it to _ON_ while selecting one of its sub-rule to _OFF_, and the peculiar rule wi

[2019-04-02 20:51] Rotzbua opened #57 "Can not remove group from user at /user-manager/"
## Environment

Admin Addon User Manager v2.1.6
Admin Panel v1.8.20
Grav 1.5.10
php 7.1

## Reproduce

1. add a user to a group by /admin/user-manager/
1. save
1. remove group
1. save
1. group is still assigned

## Workaround

1. create a dummy group without any permission
1. remove old group
1. replace by dummy group
1. save

## Solution at other place

1. use /admin/group-manager/, at bottom and

[2019-04-16 22:22] #55 closed

[2019-04-16 22:23] david-szabo97 commented on #56
@Romarain The plugin is not controlling the permissions. It's controlled by Grav/Grav Admin.

[2019-04-24 21:22] Heraes-git commented on #56
@david-szabo97 There is two logical problems here :
1. The SUPERUSER seems to have a strange behavior, with no care of sub-rules.
2. And your plugin seems to be unable to show some of its own fields (like Groups) in a user's page.

Can you confirm me that 1 is not due to your plugin, and that 2 is because there an absolute necessity to user SUPERUSER permission in order for your plugin to display

[2019-05-14 01:24] benjarmin opened #59 "Saving a group adds a related ghost group"
Saving a group does not correctly reference the group name in the /user/config/groups.yaml file and instead creates a duplicate ghost group. Issue applies to saving new groups and existing groups.

**Environment**

Admin Addon User Manager v2.1.6
Admin Panel v1.9.4
Grav 1.6.9
PHP 7.2.17

**Reproduce**

1. Add/Edit group from groups manager
2. Save group
3. Group attributes and permissions do not r

[2019-05-17 05:41] boutmos commented on #59
Hi,
I have the same issue. From the backend, when I add a group, It override, the latest group created with a ''.

# Environment

Admin Addon User Manager v2.1.7
Admin Panel v1.9.4
Grav 1.6.9
PHP 7.3.5
Nginx 1.10

# Groups File :

[code]

Groups file after a creation from backend :
[code]
Then groups file after another creation :

[code]

[2019-05-19 09:16] robthepaper commented on #59
Hi,
same here with

- Grav 1.6.8
- Admin 1.9.3
- Php 7.1
- Admin Addon User Manager 2.1.6

But works with

- grav 1.5.6
- Admin 1.8.15
- Php 7.1
- Admin Addon User Manager 2.1.6

[2019-05-28 16:15] david-szabo97 commented on #59
Might be related to Grav v1.6.7 changes.
"Remove disabled fields from the form schema"

I'll push a fix for this

[2019-05-28 16:56] #59 closed

[2019-05-29 15:31] drnasin commented on #48
@david-szabo97 I see this is still not fixed.
Well I'm not sure what's the logic behind your plugin but If I add this code (manually) to the generated user file it works…maybe that will help...

[code]

[2019-07-15 20:58] lauroguedes opened #60 "Error adding group"
When trying to add a group is giving the following error:

`in_array() expects parameter 2 to be array, string given`

![Capturar](https://user-images.githubusercontent.com/3677780/61248758-1ee06c00-a72a-11e9-88e6-4b302f74adb2.PNG)

[2019-11-07 13:10] RomainLWiz opened #62 "send an email to the creation of a user"
Being able to send an email with a link or a personalized message would be really practical. Or an alternative idea ?

[2019-11-10 09:59] david-szabo97 commented on #62
I am not sure. What use case do you have in mind?

[2019-11-10 10:00] david-szabo97 commented on #44
Closed due to inactivity

[2019-11-10 10:00] #44 closed

[2019-11-10 10:01] david-szabo97 commented on #53
Hi @chhinsras,
I closed this issue. If this is still relevant please reopen it. Thanks!

[2019-11-10 10:01] #53 closed

[2019-11-10 10:02] david-szabo97 commented on #46
Closed due to inactivity.

[2019-11-10 10:02] #46 closed

[2019-11-10 10:22] david-szabo97 commented on #45
Cannot reproduce. Closed due to inactivity.

[2019-11-10 10:22] #45 closed

[2019-11-10 10:53] david-szabo97 commented on #57
Can't reproduce anymore so let's take it as fixed. Reopen if it is still relevant.

[2019-11-10 10:53] #57 closed

[2019-11-10 10:54] david-szabo97 commented on #60
Can't reproduce. If this issue is still going on for you, please reopen and tell me more details

[2019-11-10 10:54] #60 closed

[2019-11-10 10:57] david-szabo97 commented on #56
This plugin doesn't extend the permission system of Grav. It just exposes an interface to edit/create/delete users and groups. I am not sure how we could tackle the granularity/power level yet.

[2019-11-10 11:44] #48 closed

[2019-11-10 11:44] #54 closed

[2019-11-10 11:49] david-szabo97 commented on #54
Added in v2.2.0

[2019-11-10 11:49] david-szabo97 commented on #48
Fixed in v2.2.0

[2019-11-12 00:06] MakaryGo commented on #62
I think that [login] already provides this function?
Or do you have something else in mind?

[login]: https://github.com/getgrav/grav-plugin-login/blob/develop/README.md#send-a-welcome-email

[2019-11-12 08:02] RomainLWiz commented on #62
What I am looking for and the creation of a user we enter his email and I would like the plugin to send him an email directly.

[2019-11-12 12:24] rafvandevreugde opened #63 "Grav Report indicates YAML linting error"
Hello,

After updating to the latest version (2.2.0), the Grav Reporting gives an error:

`
/user/plugins/admin-addon-user-manager/blueprints/user/aaum-account.yaml
`

`
The reserved indicator "@" cannot start a plain scalar; you need to quote the scalar at line 10 (near "@ordering: content").
`

Regards,

    Raf

[2019-11-12 16:40] david-szabo97 commented on #63
Thanks for reporting. Fixed in v2.2.1

[2019-11-12 16:40] #63 closed

[2019-11-22 09:55] zouloux opened #64 "Plugin not working with last update"
Hi and thanks for this useful plugin :)
It seems that after updating to last plugins I got an error when trying to get "User Manager" tab in admin.
`$page` is null at line 110. Patched with this :
[code]
I don't know where the bug really comes from but if it can helps anybody.
Thanks !

[2019-11-22 14:58] dimitrilongo commented on #54
@david-szabo97 thanks for this update

[2020-02-04 10:25] anisiearadis opened #66 "Usage of User::load() is deprecated since Grav 1.6"
I get this message in Deprecation tab in the debugger bar:

`Grav\Common\User\User::load() is deprecated since Grav 1.6, use $grav['accounts']->load() instead`

[2020-03-30 08:11] localnetwork opened #67 "Can't view User Manager Page when changing the Administrator Path"
Seeing this when changing admin path

![screenshot-prestigelabelsco s14-host com-2020 03 30-16_08_59](https://user-images.githubusercontent.com/15809239/77889791-03f65d80-72a1-11ea-9dc4-8b66da0ef8c5.png)

instead of this:

![screenshot-prestigelabelsco s14-host com-2020 03 30-16_09_27](https://user-images.githubusercontent.com/15809239/77889828-12dd1000-72a1-11ea-8f31-80144d66468d.png)

[2020-03-31 15:35] ackinty commented on #64
Same symptoms here with
Grav v1.6.23 - Admin v1.9.13 - Admin Addon User Manager v2.2.1

Patch from zouloux is working. Thx @zouloux :)

[2020-04-05 09:25] david-szabo97 commented on #64
@ackinty Can you tell me how to reproduce this?
Fresh install of v1.6.23 works fine. Maybe a plugin conflict?

[2020-04-05 09:40] david-szabo97 commented on #67
@localnetwork Just tested this and couldn't reproduce. I changed my path several times and no issues.
Do you have any other plugins? Can you test on a fresh install?

[2020-04-05 09:40] david-szabo97 commented on #66
Fixed in https://github.com/david-szabo97/grav-plugin-admin-addon-user-manager/commit/cfcdc60b7b3d3e04b138a843b7a8408b20e0a3d8

[2020-04-05 09:40] #66 closed

[2020-04-06 10:21] zouloux commented on #64
Hi, will re-try soon and keep you posted.

[2020-04-06 14:24] christopherhemme opened #69 "Simple search fallback"
The current filter functionality is super flexible but for me the most common usecase is to search for a user by a part of the username. therefor it would be great to have a "simple search" as a fallback. So if I enter 'John' in the search field the query will fail and it will filter instead for `user.username matches '/[John]/'` and will list me John Doe.

[2020-04-30 09:51] zouloux commented on #64
It's working fine now, thanks !

[2020-04-30 10:06] zouloux opened #70 "Add configuration option for disabling Groups Manager"
Hi, thanks for this useful plugin :-)
I wanted to add a feature to remove groups from Grav Admin menu. I do not use this feature on all of my projects, this may be interesting for other people who want the cleanest admin possible.

Added this condition into `admin-addon-user-manager.php` line 60
[code]

Also the option at the bottom of `blueprints.yaml` :
[code]

We just miss the `label` translati

[2020-04-30 14:43] Leandro-b-03 opened #71 "Call to a member function id() on null after upgrate Grav to version 1.6.24"
Hello everyone,
After I've upgraded Grav to version 1.6.24 I start to receive this error when I trying to go to the plugin:

      }

      public function onAdminTwigTemplatePaths($e) {
        $paths = $e['paths'];
        $paths[] = __DIR__ . DS . 'templates';
        $e['paths'] = $paths;
      }

      public function onTwigSiteVariables() {
        $page = $this->grav['page'];
        $twig

[2020-05-04 09:42] zouloux commented on #64
Got back the error after saving a user. `->page(false);` still patching it.

[2020-05-04 21:22] david-szabo97 commented on #64
@zouloux Please post your plugin list, thanks!

[2020-05-05 08:49] zouloux commented on #64
Hi @david-szabo97, I'll try to post a max of info a soon as I got some time. I'll try to setup from a clean-install also. I keep you posted, thanks.

[2020-05-20 10:14] masetto opened #72 "Extending group blueprints"
Hello,
I tried to extend group blueprint to add a field, but I couldn't. As for user blueprint I created a file named `user/blueprints/group.yaml` with this content:
[code]

but when I edit a group in admin I don't see any change.
Please, how do I do this?

[2020-06-25 18:37] fnetX opened #74 "Configure password requirements to allow passphrase"
Hello,

I think that enforcing some requirements to passwords is a bad style in 2020 (also see https://theworld.com/~reinhold/diceware.html and https://xkcd.com/936/).

I'd thus like to see a configuration option for password requirements to remove annoying limits like this plugin currently uses or even change the default behaviour to prefer passphrases.

Thank you very much.

[2020-11-29 05:04] IkumiMashiba opened #75 "Error Call to a member function id() on null (docker volumes bind mount /user/pages)"
■ Occurs when bind mounting pages

docker-compose.yml
[code]

■ Host environment
[code]
It was the same with windows10 docker desktop (wsl2)

■ Container environment

[code]

□ permissions inside the container.
[code]

[code]

[2020-12-03 13:20] bkraegelin opened #76 "Enhancement: Event Hook onUserRemove"
Please create an event hook when user gets removed.

Background:
When a new user registers (or gets created by admin) I allocate additional resources outside grav using my own plugin. When removing users I like to remove these ressources in in a comprehensible way.

Thanks,
Birger

[2020-12-03 20:41] sherpadawan opened #77 "Add full name column to User Manager list"

[2020-12-03 21:09] sherpadawan commented on #13
I added this in my theme/blueprints/docs.yaml file

`
form:
  fields:
    tabs:
      type: tabs
      active: 1
      fields:
        advanced:
          fields:
            overrides:
              fields:.
                header.access.site.login:
                  type: toggle.
                  label: PLUGIN_ADMIN.SITE_ACCESS
                  help: PLUGIN_ADMIN.ACCESS_HELP

[2020-12-03 21:31] sherpadawan opened #79 "Access login and group in admin page advanced tab missing"
It would be nice to have access.site.login and access.groups in default page blueprint in order to give access or not to a page.

[2020-12-07 13:21] Andy-Flack opened #80 "2fa and Save user bugs"
Due to the link at the bottom of the plugin admin going to the general admin buglist there are 2 bugs on there relating to this module.
#1988
ADMIn 2FA saving a user with 2fa enabled regenerates the 2fa code and locks out the user

#1992
attempting to save user calls with null

[2021-01-06 19:07] Batnik commented on #75
i can confirm this is the same bug like on all our installations, we had to remove the plugin.

[2021-01-07 00:42] IkumiMashiba commented on #75
Batnik
 Thank you for the verification.

[2021-01-11 19:00] aricooperdavis commented on #77
It would be nice to see this merged 👍

[2021-01-12 07:57] david-szabo97 commented on #79
I don't see any reason for this to be in this plugin. Seems totally unrelated. This plugin doesn't manage access permissions.

[2021-01-12 08:01] david-szabo97 commented on #62
You can do it by using the "Send welcome email" option as @MakaryGo mentioned.

[2021-01-12 08:01] #62 closed

[2021-01-12 08:02] david-szabo97 commented on #64
Closed due to inactivity.

[2021-01-12 08:02] #64 closed

[2021-01-12 08:02] david-szabo97 commented on #67
Closed due to inactivity.

[2021-01-12 08:02] #67 closed

[2021-01-12 08:03] david-szabo97 commented on #70
Hi @zouloux ! Are you still interested in opening a PR for this?

[2021-01-12 08:05] david-szabo97 commented on #71
Everything seems to work fine on v1.6.31. Please reopen if the issue still persists. Thanks!

[2021-01-12 08:05] #71 closed

[2021-01-12 08:08] david-szabo97 commented on #72
Hi @masetto ! Please only post requests/issues related to the Admin Addon User Manager plugin here. You will have better luck asking the question on the [Grav's Forum](https://discourse.getgrav.org/).

[2021-01-12 08:24] sherpadawan commented on #79
True. Anyway this will disappear with next grav releases. Hope we'll have better user and access managements as core plugins.

[2021-01-12 08:26] masetto commented on #72
Hi @david-szabo97. Sorry, but in my opinion this is a specific question about this plugin: I not be able to extend group blueprint, while for users I created a yaml named `accounts.yaml` as this:
[code]
If I misunderstood, I'm sorry :-)

[2021-01-12 08:30] david-szabo97 commented on #80
Both issues you mentioned are unrelated to this plugin. They are already fixed in the Core and Login plugin.

[2021-01-12 08:30] #80 closed

[2021-01-12 08:45] david-szabo97 commented on #75
Hi there! Just pushed a new version (v2.4.0) which should fix the problem. Could you give it a try? Thanks!

[2021-01-12 08:47] david-szabo97 commented on #76
Hi @bkraegelin ! In the latest version (v2.4.0) you can now use:
* Event hook for user removal: `AAUM_onUserRemove` (`user` object passed)
* Event hook for group removal: `AAUM_OnGroupRemove` (`group` object passed)

[2021-01-12 08:47] #76 closed

[2021-01-12 08:47] david-szabo97 commented on #77
Available from v2.4.0

[2021-01-12 08:47] #77 closed

[2021-01-12 09:03] david-szabo97 commented on #69
Released in v2.5.0

Thanks!

[2021-01-12 09:04] #69 closed

[2021-01-12 09:10] #56 closed

[2021-01-12 09:51] Batnik commented on #75
It worked, thanx!

[2021-01-12 10:58] david-szabo97 commented on #72
I'm not sure what's the proper way to override plugin blueprints.
Since the blueprint is in the blueprints directory of the plugin, I thought this will work:
[code]

But it doesn't work.

I'm happy to make changes to the plugin if that's the only way, but I'm not sure what's going on under the hood regarding the bluperints.

[2021-01-12 11:07] #79 closed

[2021-01-12 11:07] #75 closed

[2021-03-28 21:44] preraksola opened #81 "Undefined index username"
I have the latest version of Grav and the plugin installed.

While creating a new user, upon clicking "Save", I get a popup, saying unsaved changes, do you want to continue (which is quite weird).

After clicking Continue, the user is not created and I get an error saying `Undefined indes username`.

If I disable the plugin, I can successfully create the new user.

[2021-04-02 07:34] arkhi commented on #81
I have the latest versions of Grav and plugins installed as well, and a similar message: `Undefined index: username`

[2021-04-19 22:25] McLaynV opened #82 "user-manager notifications property of undefined"
In GRAV v1.7.12
Admin Panel v1.10.12
Admin Addon User Manager v2.5.0
on page `/admin/user-manager`, JavaScript is logging this error:

    Uncaught TypeError: Cannot read property 'notifications' of undefined
        at canFetchNotifications (notifications.js?fbcd:5)
        at eval (notifications.js?fbcd:138)
        at Module../app/updates/notifications.js (admin.min.js?84df16de0b:561)
        a

[2021-04-29 13:44] sebasvisser commented on #81
I'm running into this problem as well... Is there a fix known yet?

[2021-04-29 13:49] arkhi commented on #81
@sebasvisser: We don’t need this plugin with the latest versions of Grav admin plugin (since Grav 1.7, I think), as it is implemented in the admin plugin.

[2021-05-05 21:10] sebasvisser commented on #81
@arkhi Aah superb! Thanks for your reply. I removed the plugin and the site is back up and running! Thanks for your help.

[2021-05-06 07:59] #8 closed

[2021-05-06 07:59] #13 closed

[2021-05-06 08:01] david-szabo97 commented on #24
Grav v1.7.0 has a built-in interface for managing users and groups. 🎉 I'm discontinuing the plugin. Thanks for using my plugin for the time being! 🙇

[2021-05-06 08:01] #24 closed

[2021-05-06 08:01] david-szabo97 commented on #32
Grav v1.7.0 has a built-in interface for managing users and groups. 🎉 I'm discontinuing the plugin. Thanks for using my plugin for the time being! 🙇

[2021-05-06 08:01] #32 closed

[2021-05-06 08:01] david-szabo97 commented on #70
Grav v1.7.0 has a built-in interface for managing users and groups. 🎉 I'm discontinuing the plugin. Thanks for using my plugin for the time being! 🙇

[2021-05-06 08:01] #70 closed

[2021-05-06 08:01] david-szabo97 commented on #72
Grav v1.7.0 has a built-in interface for managing users and groups. 🎉 I'm discontinuing the plugin. Thanks for using my plugin for the time being! 🙇

[2021-05-06 08:01] #72 closed

[2021-05-06 08:01] david-szabo97 commented on #74
Grav v1.7.0 has a built-in interface for managing users and groups. 🎉 I'm discontinuing the plugin. Thanks for using my plugin for the time being! 🙇

[2021-05-06 08:01] #74 closed

[2021-05-06 08:01] david-szabo97 commented on #81
Grav v1.7.0 has a built-in interface for managing users and groups. 🎉 I'm discontinuing the plugin. Thanks for using my plugin for the time being! 🙇

[2021-05-06 08:01] #81 closed

[2021-05-06 08:01] david-szabo97 commented on #82
Grav v1.7.0 has a built-in interface for managing users and groups. 🎉 I'm discontinuing the plugin. Thanks for using my plugin for the time being! 🙇

[2021-05-06 08:01] #82 closed

[2021-05-06 08:05] zouloux commented on #70
Thanks for you plugin man, it helped a lot <3

[2021-05-06 12:16] fnetX commented on #74
Thank you for your plugin and for providing a solution while there was no such option in Grav. :heart:

[2021-05-07 19:21] McLaynV commented on #82
Thanks for everything. You did a good job and it helped many people.